.hero {
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  color: #F5F5F5;
  min-height: 789px;
}

.heroHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTitle {
  font-size: 2.90rem;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

.heroContent {
  padding: 2rem;
}

.groupSvg {
  position: absolute;
  top: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.matchDay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-15%, -50%);
}