.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2rem;
    text-decoration: none;
  }
}

.signIn {
  color: #1E1E1E;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #1E1E1E;
}

.signUp {
  text-decoration: none;
  color: #F5F5F5;
  background-color: #4e4e4e;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #1E1E1E;
}


.signIn:hover {
  background-color: #4e4e4e;
  color: #F5F5F5;
  border: 2px solid #1E1E1E;
}

.signUp:hover {
  background-color: #F5F5F5;
  color: #2C2C2C;
}